body {
    padding: 0%;
    margin: 0%;
    background-color: black;
    /* background-image: url(https://images.unsplash.com/photo-1524313118018-d8139913a0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTI1fHxzeWVsbG93JTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60); */
    font-family: 'Kanit', sans-serif;
}


.my-container {
    margin-top: 6rem;
    width: 50%;
    height: 400px;
    background-color:black;
    box-shadow: 5px 5px 5px 5px rgba(215, 207, 54, 0.8);
}

.headone {
    font-size: 24px;
}

.inputone {
    width: 8rem;
    background-color: rgb(255, 255, 255);
}

.selectone {
    background-color: rgb(255, 255, 255);
    width: 8rem;
}
.button2{
    background-color: rgb(255, 30, 0);
    font-size: 18px;
}



@media (max-width: 600px) {
    .my-container{
        width: 85% !important ;
    }
}